/* attributes.css by Andrew Porter */

/* Global */

.hidden {
	display: none;
}

/* Text */
.big-text {
	display: inline-flex;
	font-size: 3em;
}

.small-text {
	font-size: 0.5em;	
}

.smaller-text {
	font-size: smaller;	
}

/* text-align */

.center-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

