/* theme.css by Andrew Porter */


/* Content */

body.theme {
	font-family: TODO;
	background: url("../image/index/background/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

#header {
	
}

#content {
	
}

#footer {
	
}

#left-margin {
	float: left;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;	
}

#right-margin {
	float: right;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;	
}

/* Articles */

article {
	font-family: inherit;
}

article > * {
}

article h1, article h2, article h3, article h4, article h5, article h6 {
}

header {
	font-family: inherit;
	background-color: transparent;
}

header > img {
	background-color: inherit;
}

section {
	background-color: white;
	font-size: inherit;
}


footer {
	
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
}

h1 { font-size: 3em; }

h2 { font-size: 2.5em; }

h3 { font-size: 2.0em; }

h4 { font-size: 1.5em; }

h5 { font-size: 1.0em; }

h6 { font-size: 0.5em; }

p {	
}

p::before {
	content: "\2002\2002\2002\2002";	
}


/* Inline elements */


abbr {
	border-bottom: 1px dotted black;
	cursor: help;
}

abbr:active {
	content: attr(title);
}

span {}

.subscript {
	font-size: 0.5em;	
}


/* Lists */


ol, ul, li {
	padding: 0px;
	margin: 0px;
}

ul {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin: 0px 20px 0px 20px;
}

li {
	margin-left: 20px;
	margin-top: 10px;	
}

/* menus */

ul.menu, ul.menu-dropdown {
	display: -webkit-flex;
	display: flex;
}

ul.menu li, ul.menu-dropdown li {
	list-style-type: none;
}

ul.menu li a, ul.menu-dropdown li a {
	color: black;
	background-color: white;
	text-decoration: none;
	transition: all 0.278s;
	transition-delay: none;
}

ul.menu li a:hover, ul.menu-dropdown li a:hover {
	color: white;
	background-color: black;	
}

ul.menu li a:active {
	background-color: black;
	color: white;
	transition-duration: 0.27s;
}

ul.menu-dropdown > li:hover > ul.menu, ul.menu-dropdown > li:hover > ul.menu-dropdown {
	display: block;
	z-index: 1; /* overlay */
	position: absolute; /* overlay */
}

ul.menu-dropdown > li > ul.menu, ul.menu-dropdown > li > ul.menu-dropdown {
	display: none;
}




